manuscript/supplement.aux
manuscript/supplement.log
manuscript/supplement.pdf
manuscript/prickle.aux
manuscript/prickle.out
manuscript/prickle.bbl
manuscript/prickle.blg
manuscript/prickle.log
manuscript/prickle.pdf
manuscript/pics/plate_setup.pdf
manuscript/texput.log

