manuscript/*.bbl
manuscript/*.blg
manuscript/*.aux
manuscript/*.log
manuscript/*.pdf
manuscript/*.out
manuscript/*.pdf
manuscript/*.bcf
manuscript/*.run.xml
manuscript/pics/*.pdf

submissions/*/*.bbl
submissions/*/*.blg
submissions/*/*.aux
submissions/*/*.log
submissions/*/*.pdf
submissions/*/*.out
submissions/*/*.pdf
submissions/*/*.bcf
submissions/*/*.run.xml
submissions/*/final.tex
submissions/*/LunEtAl_manuscript.tex
submissions/*/refnorm.bib

real/Liora/*/analysis/manifest.csv
real/Liora/*/analysis/metadata.csv
real/depth/*.txt
real/depth/*.pdf
real/index_swapping/*.pdf

*.rds
simulations/datasets/*.gz
simulations/datasets/GSE*
simulations/datasets/E-MTAB-*

