manuscript/supplement.aux
manuscript/supplement.log
manuscript/supplement.pdf
manuscript/prickle.aux
manuscript/prickle.bbl
manuscript/prickle.blg
manuscript/prickle.log
manuscript/prickle.pdf

simulations/variance/GSE46980_CombinedMoleculeCounts.tab.gz
simulations/variance/GSE61533_HTSEQ_count_results.tsv.gz
simulations/variance/brennecke.R
simulations/variance/brennecke.Rout.save
simulations/variance/diagnostics_brennecke.pdf
simulations/variance/diagnostics_islam.pdf
simulations/variance/diagnostics_wilson.pdf
simulations/variance/nmeth.2645-S7.csv.gz
simulations/variance/out_custom_brennecke.tsv
simulations/variance/out_custom_islam.tsv
simulations/variance/out_custom_wilson.tsv
simulations/variance/out_islam.tsv
simulations/variance/out_wilson.tsv
simulations/variance/ql_test.R
simulations/variance/ql_test.Rout.save
simulations/variance/ref_results.txt
simulations/variance/results.txt
simulations/variance/results_bren.txt

simulations/diffexp/GSE29087_L139_expression_tab.txt.gz
simulations/diffexp/brennecke.R
simulations/diffexp/brennecke.Rout.save
simulations/diffexp/diagnostics_brennecke.pdf
simulations/diffexp/diagnostics_islam.pdf
simulations/diffexp/islam.R
simulations/diffexp/islam.Rout.save
simulations/diffexp/nmeth.2645-S10.csv.gz
simulations/diffexp/outEB_brennecke.tsv
simulations/diffexp/outEB_islam.tsv
simulations/diffexp/outNB_brennecke.tsv
simulations/diffexp/outNB_islam.tsv
simulations/diffexp/ref_results.txt
simulations/diffexp/shrinkfree.R
simulations/diffexp/shrinkfree.Rout.save

simulations/clustering/ESpresso
simulations/clustering/clusters_ola_95.pdf
simulations/clustering/clusters_ola_pure.pdf
simulations/clustering/data_2_4_15947.txt.gz
simulations/clustering/ola.R
simulations/clustering/ola.Rout.save
simulations/clustering/pca_effect_ola.pdf
simulations/clustering/pca_effect_scialdone.pdf
simulations/clustering/technoise_ola.pdf
simulations/clustering/technoise_scialdone.pdf
simulations/clustering/tsne_effect_ola.pdf
simulations/clustering/tsne_effect_scialdone.pdf
simulations/clustering/tsne_example_ola.pdf
simulations/clustering/tsne_example_scialdone.pdf

